.home-banner{
    width: 80%;
    height: auto;
    object-fit: contain;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    
}

.banner{
    margin-top: -2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}